#map {
  width: 100%;
  height: 50%;
}
/* TOGGLE BUTTON */
.toggle-button {
  position: absolute;
  width: 20px;
  height: 40px;
  padding: 4px;
  transition: .25s;
  z-index: 100;
}

.toggle-button .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  transition: .5s;
}

.toggle-button .bar-top {
  border: 4px solid #000;
  border-bottom: none;
  top: 0;
}

.toggle-button .bar-middle {
  border: 4px solid #000;
  border-bottom: none;
  margin-top: 7px;
  margin-bottom: 7px;
  top: 4px;
}

.toggle-button .bar-bottom {
  border: 4px solid #000;
  border-top: none;
  top: 22px;
}


.open .bar-top {
  transform: rotate(45deg) translate(8px, 8px);
  transition: .5s;
  border-color: #fff;
}

.open .bar-middle {
  transition: .3s ease-in;
  opacity: 0;
}

.open .bar-bottom {
  transform: rotate(-45deg) translate(8px, -7px);
  transition: .5s;
  border-color: #fff;
}

.open .toggle-button {
  transform: translateX(270px);
}
/* END TOGGLE BUTTON */
